<!doctype html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<title>诗词书画大赛</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="__WEB__/css/mui.css" />
		<link rel="stylesheet" type="text/css" href="__WEB__/css/style.css"/>
		<style type="text/css">
			.mui-table-view.mui-grid-view .mui-table-view-cell .wu .mui-media-body{
				color: gray;
			}
					.mui-bar-tab .mui-tab-item.mui-active {
    color: #007aff;
}
		</style>
	</head>
<script>
(function(b,a,e,h,f,c,g,s){b[h]=b[h]||function(){(b[h].c=b[h].c||[]).push(arguments)};
b[h].s=!!c;g=a.getElementsByTagName(e)[0];s=a.createElement(e);
s.src="//s.union.360.cn/"+f+".js";s.defer=!0;s.async=!0;g.parentNode.insertBefore(s,g)
})(window,document,"script","_qha",224241,false);
</script>
	<body>
		<!--
		      index.html
		      <project>

		      Created by Administrator on 2018-01-18.
		      Copyright 2018 Administrator. All rights reserved.
		 -->

		<!-- 主界面菜单同时移动 -->
		<!-- 侧滑导航根容器 -->

				<nav class="mui-bar mui-bar-tab">
					<a class="mui-tab-item mui-active" href="/">
						<span class="mui-icon mui-icon-home"></span>
						<span class="mui-tab-label">首页</span>
					</a>
					<a class="mui-tab-item" href="{:url('match/index')}">
						<span class=" mui-icon mui-icon-upload"></span>
						<span class="mui-tab-label">我要参赛</span>
					</a>

					<a class="mui-tab-item" href="{:url('user/index')}">
						<span class="mui-icon mui-icon-contact"></span>
						<span class="mui-tab-label">个人中心</span>
					</a>
				</nav>
				<!-- 主页面内容容器 -->
				<div id="pullrefresh" class="mui-content mui-scroll-wrapper">
					<div class="mui-scroll">
						<!-- 主界面具体展示内容 -->
						<!--轮播-->
						<div id="slider" class="mui-slider" style="display: none;">
							<div class="mui-slider-group mui-slider-loop">
								
								<div class="mui-slider-item mui-slider-item-duplicate">
									<a href="{$zui.url}">
										<img src="{$zui.img}">
									</a>
								</div>

								{volist name="barner" id="vos"}
								<div class="mui-slider-item">
									<a href="{$vos.url}">
										<img src="{$vos.img}">
									</a>
								</div>
								{/volist}

								
								<div class="mui-slider-item mui-slider-item-duplicate">
									<a href="{$barner.0.url}">
										<img src="{$barner.0.img}">
									</a>
								</div>
							</div>
							<div class="mui-slider-indicator">

								{volist name="barner" id="voss"}
								{if condition="$i eq 1"}
								<div class="mui-indicator mui-active"></div>
								{else/}
								<div class="mui-indicator"></div>
								{/if}
								{/volist}

							</div>
						</div>
						<div class="mui-card" style="margin: 0;" >
									
										
										<div class="mui-card-content"><img id="jie24" src="{$zui.img}" /></div>
										
										
									
								</div>
						<!--九宫格-->
						<ul class="mui-table-view mui-grid-view mui-grid-9" style="padding: 0;" id="jiu">
							
							<li class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-6">
								<a href="{:url('qunying/index')}">
									<!--<span class="mui-icon mui-icon-home"></span>-->
									<div class="mui-media-body " id="act">群英逐鹿</div>
								</a>
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-6" >
								<a href="{:url('gold/index')}">
									<!-- <span class="mui-icon mui-icon-location"></span>-->
									<div class="mui-media-body">黄金榜</div>
								</a>
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
								<a href="javascript:void(0)"   >
									<!--信息数量-->
									<!--<span class="mui-icon mui-icon-email"><span class="mui-badge mui-badge-red">5</span></span>-->
									<div class="mui-media-body">释玄解妙</div>
								</a>
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
								<a href="javascript:void(0)"     >
									<!--<span class="mui-icon mui-icon-chatbubble"></span>-->
									<div class="mui-media-body" >动漫花园</div>
								</a>
							</li> <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
								<a href="javascript:void(0)"   >
									<!-- <span class="mui-icon mui-icon-location"></span>-->
									<div class="mui-media-body">温故知新</div>
								</a>
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
								<a href="javascript:void(0)"   >
									<!-- <span class="mui-icon mui-icon-search"></span>-->
									<div class="mui-media-body">娱乐之家</div>
								</a>
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
								<a href="javascript:void(0)"   >
									<!-- <span class="mui-icon mui-icon-phone"></span>-->
									<div class="mui-media-body">集市琳琅</div>

								</a>
							</li>
							
							
							<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
								<a href="javascript:void(0)"   >
									<!-- <span class="mui-icon mui-icon-phone"></span>-->
									<div class="mui-media-body">系统消息</div>
								</a>
							</li>
						</ul>
						<!--图文-->

						<ul class="mui-table-view mui-grid-view mui-grid-9" id="card">
							<ul class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-6" id="card1">
								{volist name="recommend" id="vo" mod="2"}
								{eq name="mod" value="0"}
								<div class="mui-card" >
									<a href="{:url('index/info',['id'=>$vo.id])}">
										<!--页眉，放置标题-->
										<!--<div class="mui-card-header">页眉</div>-->
										<!--内容区-->
										<div class="mui-card-content"><img src="{$vo.img}" /></div>
										<!--页脚，放置补充信息或支持的操作-->
										<div class="mui-card-footer">{$vo.title}</div>
									</a>
								</div>
								{/eq}
								{/volist}
							</ul>
							<ul class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-6" id="card2">
								{volist name="recommend" id="vo" mod="2"}
								{eq name="mod" value="1"}
								<div class="mui-card" >
									<a href="{:url('index/info',['id'=>$vo.id])}">
										<!--页眉，放置标题-->
										<!--<div class="mui-card-header">页眉</div>-->
										<!--内容区-->
										<div class="mui-card-content"><img src="{$vo.img}" /></div>
										<!--页脚，放置补充信息或支持的操作-->
										<div class="mui-card-footer">{$vo.title}</div>
									</a>
								</div>
								{/eq}
								{/volist}
							</ul>
						</ul>
					</div>
				</div>
				<div class="mui-off-canvas-backdrop"></div>
			</div>
		</div>
		<div class="mui-scrollbar mui-scrollbar-vertical"><div class="mui-scrollbar-indicator" style="transition-duration: 0ms; display: block; height: 8px; transform: translate3d(0px, 513px, 0px) translateZ(0px);"></div></div>

		<script src="__WEB__/js/mui.js" type="text/javascript" charset="utf-8"></script>
		<script src="__WEB__/js/script.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			mui.init();

			var limit = {$limit};
			var url = "__URLL__web/index/info/id/";

			mui.init({
				swipeBack: false,
				pullRefresh: {
					container: '#pullrefresh',
					// down: {
					// 	style:'circle',
					// 	callback: pulldownRefresh
					// },
					up: {
						contentrefresh: '正在加载...',
						callback: pullupRefresh
					}
				}
			});
			/**
			 * 下拉刷新具体业务实现
			 */
			function pulldownRefresh() {
				setTimeout(function() {
					var table = document.body.querySelector('.mui-table-view');
					var cells = document.body.querySelectorAll('.mui-table-view-cell');
					for(var i = cells.length, len = i + 3; i < len; i++) {
						/*var li = document.createElement('li');
						li.className = 'mui-table-view-cell';
						li.innerHTML = '<a class="mui-navigate-right">Item ' + (i + 1) + '</a>';
						//下拉刷新，新纪录插到最前面；
						table.insertBefore(li, table.firstChild);*/
					}
					mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed
					mui.toast('下拉刷新成功');toasts();
				}, 1000);
			}
			var count = 0;
			/**
			 * 上拉加载具体业务实现
			 */
			function pullupRefresh() {
					var table = document.body.querySelector('#card1');
					var cells = document.body.querySelectorAll('#card1 .mui-card');
					var table2 = document.body.querySelector('#card2');
					var cells2 = document.body.querySelectorAll('#card2 .mui-card');

						mui.post("{:url('index/load')}",{
							limit:limit
						},function(data){
								//服务器返回响应，根据响应结果，分析是否登录成功；
								if (data.code==1) {
									mui.toast(data.msg);toasts();
									limit = data['limit'];
									var mi = 0;
									for(var i = cells.length, len = i + data.data.length; i < len; i++) {
										var li = document.createElement('div');
										li.className = 'mui-card';
										li.innerHTML = '<div class="mui-card-content"><a href="'+url+data['data'][mi]['id']+'"><img src="'+data['data'][mi]['img']+'" /></a></div><div class="mui-card-footer">'+data['data'][mi]['title']+'</div><div class="spans"></div>';

										table = document.body.querySelector('#card1');
										table2 = document.body.querySelector('#card2');
										if(table.offsetHeight > table2.offsetHeight) {
											table2.appendChild(li);
										} else {
											table.appendChild(li);
										}

										mi += 1;
									}
								}else{
									mui.toast(data.msg);toasts();
								}
								mui('#pullrefresh').pullRefresh().endPullupToRefresh((++count > data.data.length)); //参数为true代表没有更多数据了。 加载次数·
							},'json'
						);
			}
//			(function($) {
//				$(".mui-scroll-wrapper").scroll({
					//bounce: false,//滚动条是否有弹力默认是true
					//indicators: false, //是否显示滚动条,默认是true
//				});
//			})(mui);
			//mui下a标签href失效问题解决
			mui('body').on('tap','a',function(){window.top.location.href=this.href;});
			var gallery = mui('.mui-slider');
			gallery.slider({
			  interval:3000//自动轮播周期，若为0则不自动播放，默认为0；
			});

			var tt = 0;
			var t1;
			mui(".mui-table-view ").on("tap", ".mui-table-view-cell a .mui-media-body", function() {
				//当前对象直接就是--->this
				if(tt > 0) {
					t1.classList.remove("active");
				}
				var act = document.getElementById("act");
				act.classList.remove("active");
				t1 = this;
				this.classList.add('active');
									
				tt = tt + 1;
			});

		</script>

	</body>

</html>