<!doctype html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<title>群英逐鹿</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="__WEB__/css/mui.css" />
		<link rel="stylesheet" type="text/css" href="__WEB__/css/style.css" />
<link type="text/css" rel="stylesheet" href="__WEB__/css/loading.css">
		<style type="text/css">
			/*			@font-face {
font-family:KaiTi,
} */
			/*font-family: "楷体","楷体_GB2312";*/
			/*font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu   */

			header>.div {
				position: absolute;
				top: 15px;
				left: 15px;
				transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				/* IE 9 */
				-moz-transform: rotate(45deg);
				/* Firefox */
				-webkit-transform: rotate(45deg);
				/* Safari 和 Chrome */
				-o-transform: rotate(45deg);
				/* Opera */
				width: 13px;
				height: 13px;
				border-bottom: 2px solid #007aff;
				border-left: 2px solid #007aff;
				z-index: 100;
			}

			.mui-grid-9 li {
				width: 25%;
			}

			.mui-grid-9>.marginLeft {
				margin-left: 25% !important;
			}
			/* 			.mui-grid-9>li:nth-child(11),
			.mui-grid-9>li:nth-child(19) {
				margin-left: 20% !important;
			} */
			/*.mui-grid-9>.mui22{
				width: 26.5%;
			}*/

			#card ul {
				float: left;
			}

			#jiu li a {
				padding: 5px 0 !important;
			}

			#jiu li a .mui-media-body {
				margin: 0 !important;
				padding: 5px 0 !important;
				height: auto;
			}

			.spans,
			.spa {
				display: flex;
				justify-content: center;
			}

			.spans span,
			.spa span {
				line-height: 25px;
			}

			.spa .mui-icon {
				font-size: 1.5rem !important;
			}

			.spans span {
				width: 80%;
				height: 30px;
				text-align: center;
				line-height: 30px;
				font-size: 14px;
				border-radius: 10px;
				background-color: rgba(0, 0, 0, 0.2);
				color: black;
				/*color: #6fd6ea;*/
				margin: 5px 0px;
			}

			/*.mui-grid-9 li.adc3:nth-child(4),
			.mui-grid-9 li.adc3:nth-child(7),
			.mui-grid-9 li.adc3:nth-child(10),
			.mui-grid-9 li.adc3:nth-child(13),
			.mui-grid-9 li.adc3:nth-child(4),
			.mui-grid-9 li.adc3:nth-child(4),
			.mui-grid-9 li.adc3:nth-child(4) {
				margin-left: 25%;
			}

			.mui-grid-9 li.adc5:nth-child(3n+2) {
				margin-left: 25%;
			}

			.mui-grid-9 li.adc6:nth-child(3n+2) {
				margin-left: 25%;
			}*/
			/*#jiu .adc3:first-child,#jiu .adc5:first-child,#jiu .adc6:first-child{
       			margin: 0 !important;
       		}*/
       		#mui-scroll-wrappe2{
       			position: fixed;
       			top: 0;
       			left: 100vw;
       			z-index: 2;
       			overflow: auto;
       		}
		</style>
	</head>

	<body>

		<!--
	      index1.html
	      <project>

	      Created by Administrator on 2018-01-18.
	      Copyright 2018 Administrator. All rights reserved.
	 -->

		<!-- 主界面菜单同时移动 -->
		<!-- 侧滑导航根容器 -->

		<!-- 菜单容器 -->

		<!-- 主页面标题 -->
		<header class="mui-bar mui-bar-nav">
			<div class="div" onclick="history.go(-1);"></div>
			<!--<div class="div" onclick="history.back(-1);"></div>-->
			<h1 class="mui-title mui-active">群英逐鹿</h1>
		</header>

		<!-- 主页面内容容器 -->
		<div id="pullrefresh" class="mui-content mui-scroll-wrapper">
			<div class="mui-scroll">
				<!-- 主界面具体展示内容 -->
				<!--九宫格1-->
				<ul class="mui-table-view mui-grid-view mui-grid-9" id="jiu">

					{foreach name="typecopy" item="vo" key="i" }
					<li class="mui-table-view-cell mui-media onclis">

						<a href="javascript:void(0)" disabled >
							<div class="mui-media-body onclis">{$vo.name}：</div>
						</a>
					</li>
					{foreach name="type" item="vos" key="k"} {if condition="$vo.id eq $vos.father_id"} {if condition="$i eq 0 and $k eq 0"}
					<li class="mui-table-view-cell mui-media adc{$vo.id}">
						<a href="javascript:void(0)" target="_blank">
							<div class="mui-media-body" id="act"  data-id="{$vos.id}">{$vos.name}</div><!-- active -->
						</a>
					</li>
					{else/}
					<li class="mui-table-view-cell mui-media adc{$vo.id}" >
						<a href="javascript:void(0)" target="_blank">
							<div class="mui-media-body" data-id="{$vos.id}">{$vos.name}</div>
						</a>
					</li>

					{/if} {/if} {/foreach}
					<br />
					{/foreach}
				</ul>

				<ul class="mui-table-view mui-grid-view mui-grid-9" id="card">
					<ul class=" mui-media mui-col-xs-6 mui-col-sm-6" id="card1">
						<!-- {volist name="qunying" id="voss" mod="2"} {eq name="mod" value="0"}
						<div class="mui-card">
							<div class="mui-card-content">
								<img src="{$voss.suoimg}" class="infoajax" data-id="{$voss.id}"/>
							</div>
							<div class="mui-card-footer">{$voss.title}</div>
							<div class="spans">
							{if condition="in_array($voss.id,$arr)"}
							<span data-id="{$voss.id}" class="active">投票</span>
							{else /}
							<span data-id="{$voss.id}">投票</span>
							{/if}
							</div>
						</div>
						{/eq} {/volist} -->
					</ul>
					<ul class="mui-media mui-col-xs-6 mui-col-sm-6" id="card2">
						<!-- {volist name="qunying" id="vosss" mod="2" key="two"} {eq name="mod" value="1"}
						<div class="mui-card">
							<div class="mui-card-content">
								<img src="{$vosss.suoimg}" class="infoajax" data-id="{$vosss.id}" />
							</div>
							<div class="mui-card-footer">{$vosss.title}</div>
							<div class="spans">
							{if condition="in_array($vosss.id,$arr)"}
							<span data-id="{$voss.id}" class="active">投票</span>
							{else /}
							<span data-id="{$voss.id}">投票</span>
							{/if}
							</div>
						</div>
						{/eq} {/volist} -->
					</ul>
				</ul>
			</div>
		</div>
<div class="mui-scrollbar mui-scrollbar-vertical"><div class="mui-scrollbar-indicator" style="transition-duration: 0ms; display: block; height: 8px; transform: translate3d(0px, 513px, 0px) translateZ(0px);"></div></div>
<link rel="stylesheet" type="text/css" href="__WEB__/css/info.css" />
<div class="mui-content mui-scroll-wrapper mui-scroll-wrapper2" id="mui-scroll-wrappe2">
					<div class="mui-scroll">
						<ul class="mui-media " style="padding: 0;">
							<div class="mui-card" id="ones">
								<div class="mui-card-header">作者:<span id="user_name">user_name</span></div>
								<div class="mui-card-content">
									<a href="javascript:void(0)"><img src="" data-preview-src="" data-preview-group="1" id="image" /></a>
								</div>
								<div class="mui-media-body" style="padding: 10px;">
									<span id="title"></span>
									<p style="text-indent:2em;" id="content">
									</p>
								</div>
								<div class="mui-card mui-row" >
									<div class="mui-col-sm-6 mui-col-xs-6">当前票数</div>
									<div class="mui-col-sm-6 mui-col-xs-6" id="piao"> </div>
								</div>
							</div>
					<button class="mui-btn mui-btn-primary" style="width: 90%; margin-left: 5%;" id="buttons" data-id="">投票</button>
						</ul>
					</div>
				</div>
				<div class="bgarea" id="bgarea">
	<div class="main" id="main">
		<div class="loadEffect">
		        <div><span></span></div>
		        <div><span></span></div>
		        <div><span></span></div>
		        <div><span></span></div>
		</div>
	</div>
</div><div class="bgarea" id="bgarea">
	<div class="main" id="main">
		<div class="loadEffect">
		        <div><span></span></div>
		        <div><span></span></div>
		        <div><span></span></div>
		        <div><span></span></div>
		</div>
	</div>
</div>
		<script src="__WEB__/js/mui.js" type="text/javascript" charset="utf-8"></script>
		<script src="__WEB__/js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="__WEB__/js/script.js" type="text/javascript" charset="utf-8"></script>
		<script src="__WEB__/js/mui.zoom.js"></script>
		<script src="__WEB__/js/mui.pre.js"></script>

		<script >jQuery.noConflict()</script>
		<script type="text/javascript">

			console.log(window.history);

			mui.init();

			(function($) {
				$("#mui-scroll-wrapper2").scroll({
					bounce: false,
					indicators: false,
				});


			var limit = {$limit};
			var url = "/web/qunying/info/id/";
			var arrj = {$arrj};
			console.log(arrj);
			var type = 3;
			var table = document.body.querySelector('#card1');
			var table2 = document.body.querySelector('#card2');

			var ad3 = document.getElementsByClassName('adc3');
			var ad5 = document.getElementsByClassName('adc5');
			var ad6 = document.getElementsByClassName('adc6');

			function margin(ad){
				var t = parseInt((ad.length-1)/3)+1;
				for(var i=0;i<t;i++){
					if(i>0){
						var n = i*3;
						ad[n].className += " marginLeft";
					}
				}
			}
			margin(ad3);
			margin(ad5);
			margin(ad6);

			mui.init({
				swipeBack: false,
				pullRefresh: {
					container: '#pullrefresh',
					// down: {
					// 	style:'circle',
					// 	callback: pulldownRefresh
					// },
					up: {
						contentrefresh: '正在加载...',
						contentnomore:'没有更多数据了...',//可选，请求完毕若没有更多数据时显示的提醒内容
						callback: pullupRefresh
					}
				}
			});
			/**
			 * 下拉刷新具体业务实现
			 */
			function pulldownRefresh() {
				setTimeout(function() {
					var table = document.body.querySelector('.mui-table-view');
					var cells = document.body.querySelectorAll('.mui-table-view-cell');
					for(var i = cells.length, len = i + 3; i < len; i++) {
						/*var li = document.createElement('li');
						li.className = 'mui-table-view-cell';
						li.innerHTML = '<a class="mui-navigate-right">Item ' + (i + 1) + '</a>';
						//下拉刷新，新纪录插到最前面；
						table.insertBefore(li, table.firstChild);*/
					}
					mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed
					mui.toast('下拉刷新成功',{ duration:'long', type:'div' });toasts();
				}, 1000);
			}


Array.prototype.in_array=function(e){
var r=new RegExp(','+e+',');
return (r.test(','+this.join(this.S)+','));
}
			var count = 0;
			/**
			 * 上拉加载具体业务实现
			 */
			function pullupRefresh() {
					var cells = document.body.querySelectorAll('#card1 .mui-card');
					var cells2 = document.body.querySelectorAll('#card2 .mui-card');
						table = document.body.querySelector('#card1');
						table2 = document.body.querySelector('#card2');
						mui.post("{:url('qunying/load')}",{
							limit:limit,
							type:type
						},function(data){
								//服务器返回响应，根据响应结果，分析是否登录成功；
								if (data.code==1) {
									mui.toast(data.msg,{ duration:'long', type:'div' });
									limit = data['limit'];
									var mi = 0;
									for(var i = cells.length, len = i + data.data.length; i < len; i++) {

										var li = document.createElement('div');
										li.className = 'mui-card';

										if (arrj.in_array(data['data'][mi]['id'])) {

											li.innerHTML = '<div class="mui-card-content"><img src="'+data['data'][mi]['suoimg']+'"  class="infoajax" data-id="'+data['data'][mi]['id']+'" /></div><div class="mui-card-footer">'+data['data'][mi]['title']+'</div><div class="spans"><span class="active" data-id="'+data['data'][mi]['id']+'">投票</span></div>';

										}else{

											li.innerHTML = '<div class="mui-card-content"><img src="'+data['data'][mi]['suoimg']+'"  class="infoajax" data-id="'+data['data'][mi]['id']+'" /></div><div class="mui-card-footer">'+data['data'][mi]['title']+'</div><div class="spans"><span class="" data-id="'+data['data'][mi]['id']+'">投票</span></div>';

										}

										if(table.offsetHeight > table2.offsetHeight) {
											table2.appendChild(li);
										} else {
											table.appendChild(li);
										}
										mi += 1;

									}
								}else{

									mui.toast(data.msg,{ duration:'long', type:'div' });toasts();
								}
								mui('#pullrefresh').pullRefresh().endPullupToRefresh((++count > data.data.length)); //参数为true代表没有更多数据了。 加载次数·

							},'json'
						);
			}
			mui('body').on('tap', 'a', function() {
					window.top.location.href = this.href;
					/*$(this).classList.remove("mui-active") */
				}
			);

			var tt = 0;
			var t1;
			mui(".mui-table-view").on("tap", ".mui-table-view-cell a .mui-media-body", function() {
				//当前对象直接就是--->this
				if(tt > 0) {
					t1.classList.remove("active");
				}
				var th = this.classList.contains('onclis'); //return true or false
				if(th == false) {
					var act = document.getElementById("act");
					act.classList.remove("active");
					t1 = this;
					this.classList.add('active');
					tt = tt + 1;


						type = this.getAttribute("data-id");
						mui.post("{:url('qunying/index')}",{
							type:type
						},function(data){
								//服务器返回响应，根据响应结果，分析是否登录成功；
								table.innerHTML = " ";
								table2.innerHTML = " ";
								if (data.code==1) {
									mui.toast(data.msg,{ duration:'long', type:'div' });

									limit = data['limit'];
									for(var n = 0; n < data.data.length; n++) {

										var li = document.createElement('div');
										li.className = 'mui-card';

										if (arrj.in_array(data['data'][n]['id'])) {

											li.innerHTML = '<div class="mui-card-content"><img src="'+data['data'][n]['suoimg']+'"  class="infoajax" data-id="'+data['data'][n]['id']+'" /></div><div class="mui-card-footer">'+data['data'][n]['title']+'</div><div class="spans"><span class="active" data-id="'+data['data'][n]['id']+'">投票</span> </div>';

										}else{

											li.innerHTML = '<div class="mui-card-content"><img src="'+data['data'][n]['suoimg']+'"  class="infoajax" data-id="'+data['data'][n]['id']+'"/></div><div class="mui-card-footer">'+data['data'][n]['title']+'</div><div class="spans"><span class="" data-id="'+data['data'][n]['id']+'">投票</span> </div>';

										}

										if(table.offsetHeight > table2.offsetHeight) {
											table2.appendChild(li);
										} else {
											table.appendChild(li);
										}
									}
								}else{
									mui.toast(data.msg,{ duration:'long', type:'div' });toasts();
								}
								mui('#pullrefresh').pullRefresh().refresh(true);

							},'json'
						);

				}
			});
			var ons = 3;
			var onl;

			//var mask = mui.createMask(callback);//callback为用户点击蒙版时自动执行的回调；
			mui("#card ").on("tap", ".mui-media .mui-card .spans span", function() {
				//当前对象直接就是--->this

				var sq = this;
				var tt = this.className.length;
					if(ons > 0) {
						var id = this.getAttribute("data-id");
						//连接后台
						mui.post("{:url('qunying/toupiao')}",{
							id:id
						},function(data){
								if (data.code==1) {
									sq.className = 'active';

									ons = ons - 1;
									mui.toast('投票成功',{ duration:'long', type:'div' });toasts();
								}else{
									mui.toast(data.msg,{ duration:'long', type:'div' });toasts();
								}
							},'json'
						)

					} else {
						mui.toast('已使用完每天三次的投票功能',{ duration:'long', type:'div' });toasts();
					}
			});
			mui("#card").on("tap", "img", function() {
					//显示过度动画
					document.getElementById("bgarea").style.display = "block";
					infoid = this.dataset.id;
					var stateObject = "{name:'yangyang'}";
					var title = "hello world";
					var url = "/web/qunying/info/id/"+infoid+".html";
					window.history.pushState(stateObject, title, url)

					mui.post("{:url('qunying/infoajax')}",{
						id:infoid
					},function(data){
						console.log(data);
							if (data.code==1) {
								document.getElementById("user_name").innerHTML = data.data.user_name;
								document.getElementById("image").src = data.data.img;
								document.getElementById("title").innerHTML = data.data.title;
								document.getElementById("content").innerHTML = data.data.content;
								document.getElementById("piao").innerHTML = data.data.poll;
								document.getElementById("buttons").dataset.id = data.data.id;
								document.getElementById("mui-scroll-wrappe2").style.left = "0vw";
								document.getElementById("bgarea").style.display = "none";
								//结束过度动画
							}else{
								document.getElementById("bgarea").style.display = "none";
								//结束过度动画
								mui.toast(data.msg);toasts();
							}

						},'json'
					)
			});

			window.addEventListener("popstate", function(e) {
					document.getElementById("mui-scroll-wrappe2").style.left = "100vw";
			}, false);

			mui(".mui-scroll").on("tap", "button", function() {
					if(ons > 0) {
						var id = this.getAttribute("data-id");
						//连接后台
						mui.post("{:url('qunying/toupiao')}",{
							id:id
						},function(data){
								if (data.code==1) {
									mui.toast("投票成功");toasts();
								}else{
									mui.toast(data.msg);toasts();
								}
							},'json'
						)

					} else {
						mui.toast('已使用完每天三次的投票功能',{ duration:'long', type:'div' });toasts();
					}
			});
})(mui);
		</script>
	</body>
</html>