<!doctype html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<title>群英逐鹿</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="__WEB__/css/mui.css" />
		<link rel="stylesheet" type="text/css" href="__WEB__/css/style.css" />
		<style type="text/css">
/*			@font-face {
font-family:KaiTi,
} */
/*font-family: "楷体","楷体_GB2312";*/
/*font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu   */
			header>.div {
				position: absolute;
				top: 15px;
				left: 15px;
				transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				/* IE 9 */
				-moz-transform: rotate(45deg);
				/* Firefox */
				-webkit-transform: rotate(45deg);
				/* Safari 和 Chrome */
				-o-transform: rotate(45deg);
				/* Opera */
				width: 13px;
				height: 13px;
				border-bottom: 2px solid #007aff;
				border-left: 2px solid #007aff;
				z-index: 100;
			}
			.mui-grid-9 li {
				width: 20%;
			}

			.mui-grid-9>li:nth-child(11),
			.mui-grid-9>li:nth-child(19) {
				margin-left: 20% !important;
			}
			.mui-grid-9>.mui22{
				width: 26.5%;
			}

			#card ul {
				float: left;
			}

			#jiu li a {
				padding: 5px 0 !important;
			}

			#jiu li a .mui-media-body {
				margin: 0 !important;
				padding: 5px 0 !important;
				height: auto;
			}

			.spans,.spa {
				display: flex;
				justify-content: center;
			}

			.spans span,.spa span {
				line-height: 25px;
			}
			.spa .mui-icon{
				font-size: 1.5rem !important;
			}
			.spans span {
				width:80%;
				height: 30px;
				text-align: center;
				line-height: 30px;
				font-size: 14px;
				border-radius: 10px;
				background-color: rgba(0,0,0,0.2);
				color: black;
				/*color: #6fd6ea;*/
				margin: 5px  0px;
			}
		</style>
	</head>

	<body>
		<!--
	      index1.html
	      <project>

	      Created by Administrator on 2018-01-18.
	      Copyright 2018 Administrator. All rights reserved.
	 -->

		<!-- 主界面菜单同时移动 -->
		<!-- 侧滑导航根容器 -->

				<!-- 菜单容器 -->

				<!-- 主页面标题 -->
				<header class="mui-bar mui-bar-nav">
					<div class="div" onclick="history.go(-1);"></div>
					<h1 class="mui-title mui-active">群英逐鹿</h1>
				</header>

				<!-- 主页面内容容器 -->
				<div id="pullrefresh" class="mui-content mui-scroll-wrapper">
					<div class="mui-scroll">
						<!-- 主界面具体展示内容 -->
						<!--九宫格1-->
						<ul class="mui-table-view mui-grid-view mui-grid-9" id="jiu">
							{volist name="typecopy" id="vo"}
								<li class="mui-table-view-cell mui-media    onclis">
									<a href="#" disabled>
										<div class="mui-media-body onclis">{$vo.name}：</div>
									</a>
								</li>
								{volist name="type" id="vos"}
									{if condition="$vo.id eq $vos.father_id"}
										{if condition="$i eq 1"}
										<li class="mui-table-view-cell mui-media">
											<a href="#">
												<div class="mui-media-body active" id="act">{$vos.name}</div>
											</a>
										</li>
										{else/}
										<li class="mui-table-view-cell mui-media">
											<a href="#">
												<div class="mui-media-body">{$vos.name}</div>
											</a>
										</li>
										{/if}
									{/if}
								{/volist}
								<br />
							{/volist}
						</ul>

						<ul class="mui-table-view mui-grid-view mui-grid-9" id="card">
							<ul class=" mui-media mui-col-xs-6 mui-col-sm-6" id="card1">

								<div class="mui-card" id="ones">

									<!--页眉，放置标题-->
									<!--<div class="mui-card-header">页眉</div>-->
									<!--内容区-->
									<div class="mui-card-content">
										<a href="{:url('qunying/info')}"><img src="__WEB__/img/painting/gh/faedab64034f78f0aab4203a73310a55b2191cbf.jpg" /></a>
									</div>
									<!--页脚，放置补充信息或支持的操作-->
									<div class="mui-card-footer">名称</div>
<!--<div class="spa"><span class=" mui-icon mui-icon-email "></span><span class="">123</span><span class="">枚</span></div>-->
									<div class="spans"><span class="">点赞</span> </div>

								</div>
								<div class="mui-card">

									<!--页眉，放置标题-->
									<!--<div class="mui-card-header">页眉</div>-->
									<!--内容区-->
									<div class="mui-card-content">
										<a href="{:url('qunying/info')}"><img src="__WEB__/img/painting/gh/timg (15).jpg" /></a>
									</div>
									<!--页脚，放置补充信息或支持的操作-->
									<div class="mui-card-footer">名称</div>
									<!--<div class="spa"><span class=" mui-icon mui-icon-email "></span><span class="">123</span><span class="">枚</span></div>-->
									<div class="spans"><span class="">点赞</span> </div>

								</div>
								<div class="mui-card">

									<!--页眉，放置标题-->
									<!--<div class="mui-card-header">页眉</div>-->
									<!--内容区-->
									<div class="mui-card-content">
										<a href="{:url('qunying/info')}"><img src="__WEB__/img/painting/gh/timg (1).jpg" /></a>
									</div>
									<!--页脚，放置补充信息或支持的操作-->
									<div class="mui-card-footer">名称</div>
									<!--<div class="spa"><span class=" mui-icon mui-icon-email "></span><span class="">123</span><span class="">枚</span></div>-->

									<div class="spans"><span class="">点赞</span> </div>

								</div>
								<div class="mui-card">

									<!--页眉，放置标题-->
									<!--<div class="mui-card-header">页眉</div>-->
									<!--内容区-->
									<div class="mui-card-content">
										<a href="{:url('qunying/info')}"><img src="__WEB__/img/painting/gh/timg (10).jpg" /></a>
									</div>
									<!--页脚，放置补充信息或支持的操作-->
									<div class="mui-card-footer">名称</div>
									<!--<div class="spa"><span class=" mui-icon mui-icon-email "></span><span class="">123</span><span class="">枚</span></div>-->
									<div class="spans"><span class="">点赞</span> </div>

								</div>
								<div class="mui-card">

									<!--页眉，放置标题-->
									<!--<div class="mui-card-header">页眉</div>-->
									<!--内容区-->
									<div class="mui-card-content">
										<a href="{:url('qunying/info')}"><img src="__WEB__/img/painting/gh/timg (12).jpg" /></a>
									</div>
									<!--页脚，放置补充信息或支持的操作-->
									<div class="mui-card-footer">名称</div>
									<!--<div class="spa"><span class=" mui-icon mui-icon-email "></span><span class="">123</span><span class="">枚</span></div>--><div class="spans"><span class="">点赞</span> </div>

								</div>
							</ul>
							<ul class="mui-media mui-col-xs-6 mui-col-sm-6" id="card2">
								<div class="mui-card">

									<!--页眉，放置标题-->
									<!--<div class="mui-card-header">页眉</div>-->
									<!--内容区-->
									<div class="mui-card-content">
										<a href="{:url('qunying/info')}"><img src="__WEB__/img/painting/gh/timg (16).jpg" /></a>
									</div>
									<!--页脚，放置补充信息或支持的操作-->
									<div class="mui-card-footer">名称</div>
									<!--<div class="spa"><span class=" mui-icon mui-icon-email "></span><span class="">123</span><span class="">枚</span></div>-->
									<div class="spans"><span class="">点赞</span> </div>

								</div>
								<div class="mui-card">

									<!--页眉，放置标题-->
									<!--<div class="mui-card-header">页眉</div>-->
									<!--内容区-->
									<div class="mui-card-content">
										<a href="{:url('qunying/info')}"><img src="__WEB__/img/painting/gh/timg (6).jpg" /></a>
									</div>
									<!--页脚，放置补充信息或支持的操作-->
									<div class="mui-card-footer">名称</div>
									<!--<div class="spa"><span class=" mui-icon mui-icon-email "></span><span class="">123</span><span class="">枚</span></div>-->
									<div class="spans"><span class="">点赞</span> </div>

								</div>
								<div class="mui-card">

									<!--页眉，放置标题-->
									<!--<div class="mui-card-header">页眉</div>-->
									<!--内容区-->
									<div class="mui-card-content">
										<a href="{:url('qunying/info')}"><img src="__WEB__/img/painting/gh/timg (8).jpg" /></a>
									</div>
									<!--页脚，放置补充信息或支持的操作-->
									<div class="mui-card-footer">名称</div>
									<!--<div class="spa"><span class=" mui-icon mui-icon-email "></span><span class="">123</span><span class="">枚</span></div>-->
									<div class="spans"><span class="">点赞</span> </div>

								</div>
								<div class="mui-card">

									<!--页眉，放置标题-->
									<!--<div class="mui-card-header">页眉</div>-->
									<!--内容区-->
									<div class="mui-card-content">
										<a href="{:url('qunying/info')}"><img src="__WEB__/img/painting/gr/timg (26).jpg" /></a>
									</div>
									<!--页脚，放置补充信息或支持的操作-->
									<div class="mui-card-footer">名称</div>
									<!--<div class="spa"><span class=" mui-icon mui-icon-email "></span><span class="">123</span><span class="">枚</span></div>-->
									<div class="spans"><span class="">点赞</span> </div>

								</div>
								<div class="mui-card">

									<!--页眉，放置标题-->
									<!--<div class="mui-card-header">页眉</div>-->
									<!--内容区-->
									<div class="mui-card-content">
										<a href="{:url('qunying/info')}">
											<img src="__WEB__/img/painting/gs/u=1012637593,3984533236&fm=27&gp=0.jpg" /></a>
									</div>
									<!--页脚，放置补充信息或支持的操作-->
									<div class="mui-card-footer">名称</div>
									<!--<div class="spa"><span class=" mui-icon mui-icon-email "></span><span class="">123</span><span class="">枚</span></div>-->
									<div class="spans"><span class="">点赞</span> </div>

								</div>

							</ul>

						</ul>
					</div>
				</div>

		<script src="__WEB__/js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="__WEB__/js/mui.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			mui.init();


mui.init({
				swipeBack: false,
				pullRefresh: {
					container: '#pullrefresh',
					// down: {
					// 	style:'circle',
					// 	callback: pulldownRefresh
					// },
					up: {
						contentrefresh: '正在加载...',
						callback: pullupRefresh
					}
				}
			});
			/**
			 * 下拉刷新具体业务实现
			 */
			function pulldownRefresh() {
				setTimeout(function() {
					var table = document.body.querySelector('.mui-table-view');
					var cells = document.body.querySelectorAll('.mui-table-view-cell');
					for(var i = cells.length, len = i + 3; i < len; i++) {
						/*var li = document.createElement('li');
						li.className = 'mui-table-view-cell';
						li.innerHTML = '<a class="mui-navigate-right">Item ' + (i + 1) + '</a>';
						//下拉刷新，新纪录插到最前面；
						table.insertBefore(li, table.firstChild);*/
					}
					mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed
					mui.toast('下拉刷新成功');
				}, 1000);
			}
			var count = 0;
			/**
			 * 上拉加载具体业务实现
			 */
			function pullupRefresh() {
				setTimeout(function() {
					mui('#pullrefresh').pullRefresh().endPullupToRefresh((++count > 4)); //参数为true代表没有更多数据了。 加载次数·
					var table = document.body.querySelector('#card1 ');
					var cells = document.body.querySelectorAll('#card1 .mui-card');
					var table2 = document.body.querySelector('#card2');
					var cells2 = document.body.querySelectorAll('#card2 .mui-card');


					for(var i = cells.length, len = i + 4; i < len; i++) {
						var li = document.createElement('div');
						li.className = 'mui-card';
						li.innerHTML = '<div class="mui-card-content"><a href="{:url('qunying/info')}"><img src="__WEB__/img/painting/gr/timg (26).jpg" /></a></div><div class="mui-card-footer">名称</div><div class="spans"><span class="">点赞</span> </div>';
						var b = i % 2;
						if(b==0){
							table2.appendChild(li);
						}else{
							table.appendChild(li);
						}

					}
				}, 1000);
			}
//			(function($) {
//				$(".mui-scroll-wrapper").scroll({
					//bounce: false,//滚动条是否有弹力默认是true
					//indicators: false, //是否显示滚动条,默认是true
//				});
//			})(mui);
			//mui下a标签href失效问题解决
			mui('body').on('tap', 'a', function() {
					window.top.location.href = this.href;
					/*$(this).classList.remove("mui-active") */

				}

			);
			var tt = 0;
			var t1;
			mui(".mui-table-view ").on("tap", ".mui-table-view-cell a .mui-media-body", function() {
				//当前对象直接就是--->this
				if(tt > 0) {
					t1.classList.remove("active");
				}
				var th = this.classList.contains('onclis'); //return true or false
				if(th ==  false){
					var act = document.getElementById("act");act.classList.remove("active");
				t1 = this;
				this.classList.add('active');
				tt = tt + 1;
				}
			});

			//mask.close();//关闭遮罩
			var ons = 3;
			var onl;

			//var mask = mui.createMask(callback);//callback为用户点击蒙版时自动执行的回调；
			mui("#card ").on("tap", ".mui-media .mui-card .spans span", function() {
				//当前对象直接就是--->this
				var sq = this;
				var tt = this.className.length;
				/*this.parentNode.className*/
				/*mui.toast(this.parentNode.parentNode.parentNode.className);*/
				// var  ts = $$(".mui-table-view .mui-card").index(this.parentNode.parentNode);


				/* mui.toast(this.parentNode.previousSibling.innerText);*/
				if(tt >1) {

				} else {
					if(ons > 0) {

						this.classList.add('active');
						ons = ons - 1;
						mui.toast('点赞成功');
						/*alert(this.className.length)
						this.classList.add('active');
						ons = ons-1;
						alert(this.className.length)*/
					} else {
						/*alert("123123")*/
						//mask.show();//显示遮罩
						mui.toast('已使用完每天三次的点赞功能');
					}
				}
			});

		</script>
	</body>

</html>