<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<title>诗词书画大赛</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="__WEB__/css/mui.css" />
		<link rel="stylesheet" type="text/css" href="__WEB__/css/style.css" />
		<style type="text/css">
			.mui-grid-9 {
				width: 100%;
				padding: 10px;
			}

			header>.div {
				position: absolute;
				top: 15px;
				left: 15px;
				transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				/* IE 9 */
				-moz-transform: rotate(45deg);
				/* Firefox */
				-webkit-transform: rotate(45deg);
				/* Safari 和 Chrome */
				-o-transform: rotate(45deg);
				/* Opera */
				width: 13px;
				height: 13px;
				border-bottom: 2px solid #007aff;
				border-left: 2px solid #007aff;
				z-index: 100;
			}

			#jiu li.mui-col-xs-6 {
				padding: 10px !important;
			}

			#jiu li.mui-col-xs-6 .mui-media-body {
				padding: 8px 0 !important;
				border-radius: 15px !important;
				font-size: 18px;
			}

			.mui-collapse-content p {
				font-size: 16px;
				line-height: 25px;
			}

			.mui-collapse-content p.text {
				text-indent: 2em;
			}

			.mui-collapse-content p img {
				width: 100%;
			}


		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<div class="div" onclick="history.go(-1);"></div>
			<h1 class="mui-title mui-active">集市琳琅</h1>

		</header>

		<!-- 主页面内容容器 -->
		<div id="pullrefresh" class="mui-content mui-scroll-wrapper">
			<div class="mui-scroll">
				<!-- 主界面具体展示内容 -->



				<ul class="mui-table-view" id="card1">

					<li class="mui-table-view-cell mui-collapse">
						<a class="mui-navigate-right" href="#">书法作品</a>
						<div class="mui-collapse-content">
							<p class="text">赵朴初<br />&nbsp;&nbsp;&nbsp;&nbsp;
								赵朴初（1907—2000），1907年11月5日生于安庆，中国民主促进会创始人之一，卓越的佛教领袖、杰出的书法家、著名的社会活动家与伟大的爱国主义者。
								<img src="__WEB__/tie/tie8.jpg" /><br />&nbsp;&nbsp;&nbsp;&nbsp;
								王善立	<br />&nbsp;&nbsp;&nbsp;&nbsp;
								王善立，字文太，法名：艺远，墨志轩斋主，1946年出生河北乐亭大钊乡。任世界文化艺术联合会副会长，中国书道研究会会长，中国魏碑书法研究院院长。
								<img src="__WEB__/tie/tie9.jpg" />
							</p>
						</div>
					</li><li class="mui-table-view-cell mui-collapse">
						<a class="mui-navigate-right" href="#">绘画作品</a>
						<div class="mui-collapse-content">
							<p class="text">齐白石<br />&nbsp;&nbsp;&nbsp;&nbsp;
								齐先生在画虾上有重要的三段变法：第一阶段是如实画来，写实，宗法自然，更像写生；第二阶段最重要，不算“零碎”，虾身主体简化为九笔。所谓“零碎”一共是八样：双眼、短须、长须、大钳、前足、腹足、尾，还有一笔深墨勾出的内腔，这种结构便是齐白石的虾所独有的重要风格；第三阶段是画上的墨色不均一，笔先蘸墨，然后用另一支笔在笔肚上注水，把虾的“透明”画了出来，虾一下子就活了。
								<img src="__WEB__/tie/tie3.jpg" /><br />&nbsp;&nbsp;&nbsp;&nbsp;	蒯惠中	<br />&nbsp;&nbsp;&nbsp;&nbsp;
								蒯惠中曾临摹过范宽、石涛、四王等大量古代山水画大师的名作，得其精髓。他的作品既富北宗山水画折射的沉雄、刚健、浓厚、苍茫、豪放的阳刚之气，又有南宗山水画的舒展、幽静、滋润、灵动、明媚的阴柔之美，融贯了南北山水画派的精神，形成了自己独特的绘画符号。
								<img src="__WEB__/tie/tie6.jpg" /><br />&nbsp;&nbsp;&nbsp;&nbsp;张大千 <br />&nbsp;&nbsp;&nbsp;&nbsp;
								张大千（Chang Dai-Chien），男，四川内江人，祖籍广东省番禺，1899年5月10日出生于四川省内江市中区城郊安良里的一个书香门第的家庭，中国泼墨画家，书法家。
								<img src="__WEB__/tie/tie7.jpg" />
							</p>
						</div>
					</li>
					<li class="mui-table-view-cell mui-collapse">
						<a class="mui-navigate-right" href="#">笔</a>
						<div class="mui-collapse-content">
							<p class="text">
								狼毫
								<img src="__WEB__/tie/bi1.jpg" />	<br />&nbsp;&nbsp;&nbsp;&nbsp;兼毫
								<img src="__WEB__/tie/bi2.jpg" />	<br />&nbsp;&nbsp;&nbsp;&nbsp;羊毫
								<img src="__WEB__/tie/bi3.jpg" />

							</p>
						</div>
					</li>
					<li class="mui-table-view-cell mui-collapse">
						<a class="mui-navigate-right" href="#">墨</a>
						<div class="mui-collapse-content">
							<p class="text">
								墨1
								<img src="__WEB__/tie/m1.jpg" />	<br />&nbsp;&nbsp;&nbsp;&nbsp;墨2
								<img src="__WEB__/tie/m2.jpg" />	<br />&nbsp;&nbsp;&nbsp;&nbsp;墨3
								<img src="__WEB__/tie/m3.jpg" />

							</p>
						</div>
					</li>
					<li class="mui-table-view-cell mui-collapse">
						<a class="mui-navigate-right" href="#">纸</a>
						<div class="mui-collapse-content">
							<p class="text">
								纸1
								<img src="__WEB__/tie/z1.jpg" />	<br />&nbsp;&nbsp;&nbsp;&nbsp;纸2
								<img src="__WEB__/tie/z2.jpg" />	<br />&nbsp;&nbsp;&nbsp;&nbsp;纸3
								<img src="__WEB__/tie/z3.jpg" />

							</p>
						</div>
					</li>
					<li class="mui-table-view-cell mui-collapse">
						<a class="mui-navigate-right" href="#">砚</a>
						<div class="mui-collapse-content">
							<p class="text">
								砚1
								<img src="__WEB__/tie/y1.jpg" />	<br />&nbsp;&nbsp;&nbsp;&nbsp;砚	2
								<img src="__WEB__/tie/y2.jpg" />	<br />&nbsp;&nbsp;&nbsp;&nbsp;砚	3
								<img src="__WEB__/tie/y3.jpg" />		<br />&nbsp;&nbsp;&nbsp;&nbsp;砚4
								<img src="__WEB__/tie/y4.jpg" />

							</p>
						</div>
					</li>
					<li class="mui-table-view-cell mui-collapse">
						<a class="mui-navigate-right" href="#">琴</a>
						<div class="mui-collapse-content">
							<p class="text">
								琴1
								<img src="__WEB__/tie/q1.jpg" />	<br />&nbsp;&nbsp;&nbsp;&nbsp;琴2
								<img src="__WEB__/tie/q2.jpg" />	<br />&nbsp;&nbsp;&nbsp;&nbsp;琴3
								<img src="__WEB__/tie/q3.jpg" />
							</p>
						</div>
					</li>
					<li class="mui-table-view-cell mui-collapse">
						<a class="mui-navigate-right" href="#">棋</a>
						<div class="mui-collapse-content">
							<p class="text">
								棋1
								<img src="__WEB__/tie/qi1.jpg" />	<br />&nbsp;&nbsp;&nbsp;&nbsp;棋2
								<img src="__WEB__/tie/qi2.jpg" />	<br />&nbsp;&nbsp;&nbsp;&nbsp;棋3
								<img src="__WEB__/tie/qi3.jpg" />		<br />&nbsp;&nbsp;&nbsp;&nbsp;棋4
								<img src="__WEB__/tie/qi4.jpg" />

							</p>
						</div>
					</li>
					<li class="mui-table-view-cell mui-collapse">
						<a class="mui-navigate-right" href="#">瓷器</a>
						<div class="mui-collapse-content">
							<p class="text">
								瓷器1
								<img src="__WEB__/tie/c1.jpg" />	<br />&nbsp;&nbsp;&nbsp;&nbsp;瓷器2
								<img src="__WEB__/tie/c2.jpg" />	<br />&nbsp;&nbsp;&nbsp;&nbsp;瓷器3
								<img src="__WEB__/tie/c3.jpg" />		<br />&nbsp;&nbsp;&nbsp;&nbsp;瓷器4
								<img src="__WEB__/tie/c4.jpg" />

							</p>
						</div>
					</li>
					<li class="mui-table-view-cell mui-collapse">
						<a class="mui-navigate-right" href="#">玉器</a>
						<div class="mui-collapse-content">
							<p class="text">
								玉器1
								<img src="__WEB__/tie/yu1.jpg" />	<br />&nbsp;&nbsp;&nbsp;&nbsp;玉器2
								<img src="__WEB__/tie/yu2.jpg" />	<br />&nbsp;&nbsp;&nbsp;&nbsp;玉器3
								<img src="__WEB__/tie/yu3.jpg" />		<br />&nbsp;&nbsp;&nbsp;&nbsp;玉器4
								<img src="__WEB__/tie/yu4.jpg" />

							</p>
						</div>
					</li>
					<li class="mui-table-view-cell mui-collapse">
						<a class="mui-navigate-right" href="#">根雕</a>
						<div class="mui-collapse-content">
							<p class="text">
								根雕1
								<img src="__WEB__/tie/g1.jpg" />	<br />&nbsp;&nbsp;&nbsp;&nbsp;根雕2
								<img src="__WEB__/tie/g2.jpg" />	<br />&nbsp;&nbsp;&nbsp;&nbsp;根雕3
								<img src="__WEB__/tie/g3.jpg" />		<br />&nbsp;&nbsp;&nbsp;&nbsp;根雕4
								<img src="__WEB__/tie/g4.jpg" />

							</p>
						</div>
					</li>
					<li class="mui-table-view-cell mui-collapse">
						<a class="mui-navigate-right" href="#">剪纸</a>
						<div class="mui-collapse-content">
							<p class="text">
								剪纸1
								<img src="__WEB__/tie/jz1.jpg" />	<br />&nbsp;&nbsp;&nbsp;&nbsp;剪纸2
								<img src="__WEB__/tie/jz2.jpg" />	<br />&nbsp;&nbsp;&nbsp;&nbsp;剪纸3
								<img src="__WEB__/tie/jz3.jpg" />		<br />&nbsp;&nbsp;&nbsp;&nbsp;剪纸4
								<img src="__WEB__/tie/jz4.jpg" />

							</p>
						</div>
					</li><li class="mui-table-view-cell mui-collapse">
						<a class="mui-navigate-right" href="#">手编</a>
						<div class="mui-collapse-content">
							<p class="text">
								手编1
								<img src="__WEB__/tie/sb1.jpg" />	<br />&nbsp;&nbsp;&nbsp;&nbsp;手编2
								<img src="__WEB__/tie/sb2.jpg" />	<br />&nbsp;&nbsp;&nbsp;&nbsp;手编3
								<img src="__WEB__/tie/sb3.jpg" />		<br />&nbsp;&nbsp;&nbsp;&nbsp;手编4
								<img src="__WEB__/tie/sb4.jpg" />

							</p>
						</div>
					</li>
					<li class="mui-table-view-cell mui-collapse">
						<a class="mui-navigate-right" href="#">戏曲服装</a>
						<div class="mui-collapse-content">
							<p class="text">
								戏曲服装1
								<img src="__WEB__/tie/xq1.jpg" />	<br />&nbsp;&nbsp;&nbsp;&nbsp;戏曲服装2
								<img src="__WEB__/tie/xq2.jpg" />	<br />&nbsp;&nbsp;&nbsp;&nbsp;戏曲服装3
								<img src="__WEB__/tie/xq3.jpg" />		<br />&nbsp;&nbsp;&nbsp;&nbsp;戏曲服装4
								<img src="__WEB__/tie/xq4.jpg" />

							</p>
						</div>
					</li>
					<li class="mui-table-view-cell mui-collapse">
						<a class="mui-navigate-right" href="#">汉服唐装</a>
						<div class="mui-collapse-content">
							<p class="text">
								汉服1
								<img src="__WEB__/tie/h1.jpg" />	<br />&nbsp;&nbsp;&nbsp;&nbsp;汉服2
								<img src="__WEB__/tie/h2.jpg" />	<br />&nbsp;&nbsp;&nbsp;&nbsp;汉服3
								<img src="__WEB__/tie/h3.jpg" />		<br />&nbsp;&nbsp;&nbsp;&nbsp;汉服4
								<img src="__WEB__/tie/h4.jpg" />

							</p>
						</div>
					</li><li class="mui-table-view-cell mui-collapse">
						<a class="mui-navigate-right" href="#">刺绣</a>
						<div class="mui-collapse-content">
							<p class="text">
								刺绣1
								<img src="__WEB__/tie/cz1.jpg" />	<br />&nbsp;&nbsp;&nbsp;&nbsp;刺绣2
								<img src="__WEB__/tie/cz2.jpg" />	<br />&nbsp;&nbsp;&nbsp;&nbsp;刺绣3
								<img src="__WEB__/tie/cz3.jpg" />
							</p>
						</div>
					</li><li class="mui-table-view-cell mui-collapse">
						<a class="mui-navigate-right" href="#">茗茶</a>
						<div class="mui-collapse-content">
							<p class="text">
								茗茶1
								<img src="__WEB__/tie/mc1.jpg" />	<br />&nbsp;&nbsp;&nbsp;&nbsp;茗茶2
								<img src="__WEB__/tie/mc2.jpg" />	<br />&nbsp;&nbsp;&nbsp;&nbsp;茗茶3
								<img src="__WEB__/tie/mc3.jpg" />
							</p>
						</div>
					</li>
					<li class="mui-table-view-cell mui-collapse">
						<a class="mui-navigate-right" href="#">其他非遗文化用品</a>
						<div class="mui-collapse-content">
							<p class="text">
								非遗文化用品1
								<img src="__WEB__/tie/sb1.jpg" />	<br />&nbsp;&nbsp;&nbsp;&nbsp;非遗文化用品2
								<img src="__WEB__/tie/mc2.jpg" />	<br />&nbsp;&nbsp;&nbsp;&nbsp;非遗文化用品3
								<img src="__WEB__/tie/cz3.jpg" />
							</p>
						</div>
					</li>
					<li class="mui-table-view-cell mui-collapse">
						<a class="mui-navigate-right" href="#">民间古方</a>
						<div class="mui-collapse-content">
							<p class="text">
								古方1
								<img src="__WEB__/tie/gf1.jpg" />	<br />&nbsp;&nbsp;&nbsp;&nbsp;古方2
								<img src="__WEB__/tie/gf2.jpg" />	<br />&nbsp;&nbsp;&nbsp;&nbsp;古方3
								<img src="__WEB__/tie/gf3.jpg" />
							</p>
						</div>
					</li>
					<li class="mui-table-view-cell mui-collapse">
						<a class="mui-navigate-right" href="#">积分交易</a>
						<div class="mui-collapse-content">
							<p class="text">
								刺绣1<br />500积分
								<img src="__WEB__/tie/cz1.jpg" />	<br />&nbsp;&nbsp;&nbsp;&nbsp;刺绣2	<br />500积分
								<img src="__WEB__/tie/cz2.jpg" />	<br />&nbsp;&nbsp;&nbsp;&nbsp;刺绣3<br />500积分
								<img src="__WEB__/tie/cz3.jpg" /><br />&nbsp;&nbsp;&nbsp;&nbsp;
								根雕1<br />500积分
								<img src="__WEB__/tie/g1.jpg" />	<br />&nbsp;&nbsp;&nbsp;&nbsp;根雕2	<br />500积分
								<img src="__WEB__/tie/g2.jpg" />	<br />&nbsp;&nbsp;&nbsp;&nbsp;根雕3<br />500积分
								<img src="__WEB__/tie/g3.jpg" />		<br />&nbsp;&nbsp;&nbsp;&nbsp;根雕4	<br />500积分
								<img src="__WEB__/tie/g4.jpg" />
							</p>
						</div>
					</li>

				</ul>

			</div>
		</div>
		<script src="__WEB__/js/mui.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			mui.init();
			(function($) {
				$(".mui-scroll-wrapper").scroll({
					bounce: false, //滚动条是否有弹力默认是true
					indicators: false, //是否显示滚动条,默认是true
				});
				//mui下a标签href失效问题解决
				mui('body').on('tap', 'a', function() {
					window.top.location.href = this.href;
				});

			})(mui);
		</script>
	</body>

</html>