{extend name="template/base" /}
{block name="content"}
<div class="page-container">
    <form class="mb-20" method="get" action="{:\\think\\Url::build($Request.action)}">
        <input type="text" class="input-text" style="width:250px" placeholder="用户id" name="user_id" value="{$Request.param.user_id}" >
        <input type="text" class="input-text" style="width:250px" placeholder="用途" name="or " value="{$Request.param.or }" >
        <input type="text" class="input-text" style="width:250px" placeholder="银行id" name="bank_id" value="{$Request.param.bank_id}" >
        <button type="submit" class="btn btn-success"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
    </form>
    <div class="cl pd-5 bg-1 bk-gray">
        <span class="r pt-5 pr-5">
            共有数据 ：<strong>{$count ?? '0'}</strong> 条
        </span>
    </div>
    <table class="table table-border table-bordered table-hover table-bg mt-20">
        <thead>
        <tr class="text-c">
            <th width="25"><input type="checkbox"></th>
            <th width="">id</th>
            <th width="">用户id</th>
            <th width="">用途</th>
            <th width="">金额</th>
            <th width="">积分</th>
            <th width="">手续费</th>
            <th width="">备注</th>
            <th width="">状态</th>
            <th width="">创建时间</th>
            <th width="">银行id</th>
            <th width="70">操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="vo"}
        <tr class="text-c">
            <td><input type="checkbox" name="id[]" value="{$vo.id}"></td>
            <td>{$vo.id}</td>
            <td onclick="layer_open('用户详情', '/admin/user/info/id/{$vo.user_id}.html')">{$vo.user_id|high_light=$Request.param.user_id}</td>
            <td>
                {if condition="$vo.or eq 1"}充值{elseif condition="$vo.or eq 2" /}提现{elseif condition="$vo.or eq 3" /}购买{elseif condition="$vo.or eq 4"  /}推荐返利{else/}收益{/if}
            </td>
            <td>{$vo.money}</td>
            <td>{$vo.integral}</td>
            <td>{$vo.charge}</td>
            <td>{$vo.comment}</td>
            <td style="color:red">{if condition="$vo.status eq 1"}已完成{elseif condition="$vo.status eq 2" /}未通过{else/}未完成{/if}</td>
            <td>{$vo.create_time|date="y-m-d h:i",###}</td>
            <td onclick="layer_open('银行信息', '/admin/detail/bank/id/{$vo.bank_id}.html')">{$vo.bank_id|high_light=$Request.param.bank_id}</td>
            <td class="f-14">
                {tp:menu menu='sedit' /}
                {tp:menu menu='sdeleteforever' /}
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div class="page-bootstrap">{$page ?? ''}</div>
</div>
{/block}

