{extend name="template/base" /}
{block name="content"}
<div class="page-container">
    <form class="mb-20" method="get" action="{:\\think\\Url::build($Request.action)}">
        <input type="text" class="input-text" style="width:250px" placeholder="作品id" name="id" value="{$Request.param.id}" >
        <input type="text" class="input-text" style="width:250px" placeholder="用户id" name="user_id" value="{$Request.param.user_id}" >
        <input type="text" class="input-text" style="width:250px" placeholder="字画名称" name="title" value="{$Request.param.title}" >
        <input type="text" class="input-text" style="width:250px" placeholder="类型id" name="type" value="{$Request.param.type}" >
        <button type="submit" class="btn btn-success"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
    </form>
    <div class="cl pd-5 bg-1 bk-gray">
        <span class="l">
            {tp:menu menu="add" /}
        </span>
        <span class="r pt-5 pr-5">
            共有数据 ：<strong>{$count ?? '0'}</strong> 条
        </span>
    </div>
    <table class="table table-border table-bordered table-hover table-bg mt-20">
        <thead>
        <tr class="text-c">
            <th width="25"><input type="checkbox"></th>
            <th width="">作品id</th>
            <th width="">{:sort_by('用户id','user_id')}</th>
            <th width="">用户名</th>
            <th width="">{:sort_by('字画名称','title')}</th>
            <th width="">字画图片</th>
            <th width="">{:sort_by('类型id','type')}</th>
            <th width="">票数</th>
            <th width="">创建时间</th>
            <th width="">状态</th>
            <th width="">购买积分</th>
            <th width="70">操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="vo"}
        <tr class="text-c">
            <td><input type="checkbox" name="id[]" value="{$vo.id}"></td>
            <td>{$vo.id|high_light=$Request.param.id}</td>
            <td onclick="layer_open('用户详情', '/admin/user/info/id/{$vo.user_id}.html')">{$vo.user_id|high_light=$Request.param.user_id}</td>
            <td>{$vo.user_name}</td>
            <td>{$vo.title|high_light=$Request.param.title}</td>
            <td><img src="{$vo.img}" style="height: 50px;"></td>
            <td>{$vo.type|high_light=$Request.param.type}</td>
            <td>{$vo.poll}</td>
            <td>{$vo.create_time|date="Y-m-d H:i",###}</td>
            <td>{eq name="0" value="$vo.status"}已启用{else/}已禁用{/eq}</td>
            <td>{$vo.integral}</td>
            <td class="f-14">
                {tp:menu menu='sedit' /}
                {tp:menu menu='sdeleteforever' /}
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div class="page-bootstrap">{$page ?? ''}</div>
</div>
{/block}

