.mui-slider-item a img {
				width: 100%;
				height: 12rem;
			}

			#jiu,
			#jiu li,
			#card,
			#card ul {
				padding: 0 !important;
			}
			/*mui-card 标签为li 是有一个上空白区*/
			/*.mui-card,.mui-card-content{
				padding: 0;
				border: 1px solid red;
			}
			.mui-card-content{
				margin: 0;
			}*/
			.mui-card-content img {
				display: block;
				width: 100%;
				height: auto;
				margin: 0;
				padding: 0;
			}

			#card>ul:nth-child(1) .mui-card {
				margin-right: 5px;
			}

			#card>ul:nth-child(2) .mui-card {
				margin-left: 5px;
			}
			.mui-card-footer{
				   min-height: 30px;

    			padding: 0px 15px;
    			line-height: 30px;
			}
			#jiu li a {
				padding: 5px 0 !important;
			}

			#jiu li a .mui-media-body {
				margin: 0 !important;
				padding: 5px 0 !important;
				height: auto;
			}
			.active{
				color:white !important;
				    background: linear-gradient(to right, #3db4cc, #6fd6ea);
				    border-radius: 10px;

			}
			.as{
				font-size: 12px !important;
			}
body
{/*font-family: "楷体","楷体_GB2312";*/
	 /* font-family: 楷体_GB2312,楷体;   */


  }

/*   @font-face {
    font-family: 'kaiti';
    src: url('../fonts/kaiti.eot');
    src: url('../fonts/kaiti.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kaiti.woff') format('woff'),
	   url('../fonts/kaiti.ttf') format('truetype'),
	   url('../fonts/kaiti.svg#SingleMaltaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
 } */
