<!doctype html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<title>黄金榜</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="__WEB__/css/mui.css" />
		<link rel="stylesheet" type="text/css" href="__WEB__/css/style.css" />
		<style type="text/css">
			header>.div {

				position: absolute;
				top: 15px;
				left: 15px;
				transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				/* IE 9 */
				-moz-transform: rotate(45deg);
				/* Firefox */
				-webkit-transform: rotate(45deg);
				/* Safari 和 Chrome */
				-o-transform: rotate(45deg);
				/* Opera */
				width: 13px;
				height: 13px;
				border-bottom: 2px solid #007aff;
				border-left: 2px solid #007aff;
				z-index: 100;
			}
			.mui-grid-9 li {
				width: 25%;
			}
			.mui-grid-9>.marginLeft{
				margin-left: 25% !important;
			}
			#card ul {
				float: left;
			}

			#jiu li a {
				padding: 5px 0 !important;
			}

			#jiu li a .mui-media-body {
				margin: 0 !important;
				padding: 5px 0 !important;
				height: auto;
			}

			.spans {
				display: flex;
				justify-content: center;
			}

			.spans span {
				line-height: 25px;
			}

			.spans .mui-icon {
				width: 30px;
				height: 30px;
				text-align: center;
				line-height: 25px;
				font-size: 18px;
				border-radius: 50%;
			}
			#mui-scroll-wrapper2{
				position: fixed;
       			top: 0;
       			left: 100vw;
       			z-index: 2;
			}
		</style>
	</head>

	<body>
		<!-- 主界面菜单同时移动 -->
		<!-- 侧滑导航根容器 -->

				<!-- 主页面标题 -->
				<header class="mui-bar mui-bar-nav">
					<div class="div" onclick="window.history.back()"></div>
					<h1 class="mui-title mui-active">黄金榜</h1>
				</header>

				<!-- 主页面内容容器 -->
				<div id="pullrefresh" class="mui-content mui-scroll-wrapper">
					<div class="mui-scroll">
						<!-- 主界面具体展示内容 -->
						<!--九宫格1-->
						<ul class="mui-table-view mui-grid-view mui-grid-9" id="jiu">
							{foreach name="typecopy" item="vo" key="i" }
							<li class="mui-table-view-cell mui-media onclis">

								<a href="javascript:void(0)" disabled>
									<div class="mui-media-body onclis">{$vo.name}：</div>
								</a>
							</li>
							{foreach name="type" item="vos" key="k"} {if condition="$vo.id eq $vos.father_id"} {if condition="$i eq 0 and $k eq 0"}
							<li class="mui-table-view-cell mui-media adc{$vo.id}">
								<a href="javascript:void(0)">
									<div class="mui-media-body active" id="act" data-id="{$vos.id}">{$vos.name}</div>
								</a>
							</li>
							{else/}
							<li class="mui-table-view-cell mui-media adc{$vo.id}">
								<a href="javascript:void(0)">
									<div class="mui-media-body" data-id="{$vos.id}">{$vos.name}</div>
								</a>
							</li>

							{/if} {/if} {/foreach}
							<br />
							{/foreach}
						</ul>
						<ul class="mui-table-view mui-grid-view mui-grid-9" id="card">
							<ul class=" mui-media mui-col-xs-6 mui-col-sm-6" id="card1">
								{volist name="qunying" id="voss" mod="2"} {eq name="mod" value="0"}
								<div class="mui-card">
									<div class="mui-card-content">
										<a href="{:url('gold/info',['id'=>$voss.id])}"><img src="{$voss.suoimg}" /></a>
									</div>
									<div class="mui-card-footer">{$voss.title}</div>
								</div>
								{/eq} {/volist}
							</ul>
							<ul class="mui-media mui-col-xs-6 mui-col-sm-6" id="card2">
								{volist name="qunying" id="vosss" mod="2" key="two"} {eq name="mod" value="1"}
								<div class="mui-card">
									<div class="mui-card-content">
										<a href="{:url('gold/info',['id'=>$vosss.id])}"><img src="{$vosss.suoimg}" /></a>
									</div>
									<div class="mui-card-footer">{$vosss.title}</div>
								</div>
								{/eq} {/volist}
							</ul>
						</ul>
					</div>
				</div>
<div class="mui-scrollbar mui-scrollbar-vertical"><div class="mui-scrollbar-indicator" style="transition-duration: 0ms; display: block; height: 8px; transform: translate3d(0px, 513px, 0px) translateZ(0px);"></div></div>
<link rel="stylesheet" type="text/css" href="__WEB__/css/info.css" />
<div class="mui-content mui-scroll-wrapper mui-scroll-wrapper2" id="mui-scroll-wrapper2">
					<div class="mui-scroll">
						<!-- 主界面具体展示内容 -->
						<!--九宫格1-->
						<!--下拉刷新容器-->

						<ul class="mui-media " style="padding: 0;">
							<div class="mui-card">
								<div class="mui-media-body" style="padding: 10px;">
									
									<p style="text-indent:2em;">
									
									</p>
								</div>
							</div>

							
							<div class="mui-card mui-row" style="padding: 10px;">
								<div class="mui-col-sm-6 mui-col-xs-6" style="color:black;">
									单价：积分
								</div>
								<div class="mui-col-sm-6 mui-col-xs-6" style="color:black;">
									已售出
								</div>
							</div>
							
							
							<div class="mui-card">

								<!--页眉，放置标题-->
								<div class="mui-card-header">作者:</div>
								<!--内容区-->
								<div class="mui-card-content">
									<a href="javascript:void(0)"><img src="" data-preview-src="" data-preview-group="1" /></a>
								</div>
								<!--页脚，放置补充信息或支持的操作-->
								<!--<div class="mui-card-footer">名称</div>-->
							</div>
							<div class="mui-card mui-row" style="padding: 10px;">
								<a href="tel:15544161088" class="mui-col-sm-6 mui-col-xs-6" style="margin-left: 25%; text-align: center;    border: 1px solid rgba(196, 196, 196, 0.8);border-radius: 5px; background-color: rgba(196, 196, 196, 0.3);">联系客服定制</a>
								
							</div>
						</ul>
					</div>
				</div>
		<script src="__WEB__/js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="__WEB__/js/mui.js" type="text/javascript" charset="utf-8"></script>
		<script src="__WEB__/js/script.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			mui.init();
			var limit = {$limit};
			var url = "{$url}"+"/web/gold/info/id/";
			var type = 3;
			var table = document.body.querySelector('#card1');
			var table2 = document.body.querySelector('#card2');

			var ad3 = document.getElementsByClassName('adc3');
			var ad5 = document.getElementsByClassName('adc5');
			var ad6 = document.getElementsByClassName('adc6');

			function margin(ad){
				var t = parseInt((ad.length-1)/3)+1;
				for(var i=0;i<t;i++){
					if(i>0){
						var n = i*3;
						ad[n].className += " marginLeft";
					}
				}
			}
			margin(ad3);
			margin(ad5);
			margin(ad6);
			mui.init({
				swipeBack: false,
				pullRefresh: {
					container: '#pullrefresh',
					// down: {
					// 	style:'circle',
					// 	callback: pulldownRefresh
					// },
					up: {
						contentrefresh: '正在加载...',
						callback: pullupRefresh
					}
				}
			});
			/**
			 * 下拉刷新具体业务实现
			 */
			function pulldownRefresh() {
				setTimeout(function() {
					var table = document.body.querySelector('.mui-table-view');
					var cells = document.body.querySelectorAll('.mui-table-view-cell');
					for(var i = cells.length, len = i + 3; i < len; i++) {
						var li = document.createElement('li');
						// li.className = 'mui-table-view-cell';
						// li.innerHTML = '<a class="mui-navigate-right">Item ' + (i + 1) + '</a>';
						//下拉刷新，新纪录插到最前面；
						table.insertBefore(li, table.firstChild);
					}
					mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed
					mui.toast('下拉刷新成功');toasts();
				}, 1000);
			}
			var count = 0;
			/**
			 * 上拉加载具体业务实现
			 */
			function pullupRefresh() {
					var cells = document.body.querySelectorAll('#card1 .mui-card');
					var cells2 = document.body.querySelectorAll('#card2 .mui-card');
						table = document.body.querySelector('#card1');
						table2 = document.body.querySelector('#card2');

						mui.post("{:url('gold/load')}",{
							limit:limit,
							type:type
						},function(data){
								//服务器返回响应，根据响应结果，分析是否登录成功；
								if (data.code==1) {
									mui.toast(data.msg);toasts();
									limit = data['limit'];
									var mi = 0;
									for(var i = cells.length, len = i + data.data.length; i < len; i++) {

										var li = document.createElement('div');
										li.className = 'mui-card';
										li.innerHTML = '<div class="mui-card-content"><a href="'+url+data['data'][mi]['id']+'"><img src="'+data['data'][mi]['suoimg']+'" /></a></div><div class="mui-card-footer">'+data['data'][mi]['title']+'</div>';
										if(table.offsetHeight > table2.offsetHeight) {
											table2.appendChild(li);
										} else {
											table.appendChild(li);
										}
										mi += 1;

									}
								}else{

									mui.toast(data.msg);toasts();
								}
								mui('#pullrefresh').pullRefresh().endPullupToRefresh((++count > data.data.length)); //参数为true代表没有更多数据了。 加载次数·

							},'json'
						);
			}
	
			
				$(".mui-scroll-wrapper2").scroll({
					bounce: false,
					indicators: false, 
				});
			//mui下a标签href失效问题解决
			mui('body').on('tap', 'a', function() {
					window.top.location.href = this.href;
					/*$(this).classList.remove("mui-active") */

				}

			);
			var tt = 0;
			var t1;
			mui(".mui-table-view ").on("tap", ".mui-table-view-cell a .mui-media-body", function() {
				//当前对象直接就是--->this

				if(tt > 0) {
					t1.classList.remove("active");
				}
				var th = this.classList.contains('onclis'); //return true or false
				if(th ==  false){
					var act = document.getElementById("act");act.classList.remove("active");
				t1 = this;
				this.classList.add('active');
				tt = tt + 1;

						var type = this.getAttribute("data-id");
						mui.post("{:url('gold/index')}",{
							type:type
						},function(data){
								//服务器返回响应，根据响应结果，分析是否登录成功；
								table.innerHTML = " ";
								table2.innerHTML = " ";
								if (data.code==1) {
									mui.toast(data.msg);toasts();

									limit = data['limit'];
									for(var n = 0; n < data.data.length; n++) {

										var li = document.createElement('div');
										li.className = 'mui-card';
										li.innerHTML = '<div class="mui-card-content"><a href="'+url+data['data'][n]['id']+'"><img src="'+data['data'][n]['suoimg']+'" /></a></div><div class="mui-card-footer">'+data['data'][n]['title']+'</div>';
										if(table.offsetHeight > table2.offsetHeight) {
											table2.appendChild(li);
										} else {
											table.appendChild(li);
										}
									}
								}else{
									mui.toast(data.msg);toasts();
								}
								mui('#pullrefresh').pullRefresh().refresh(true);

							},'json'
						);

				}
			});

			//mask.close();//关闭遮罩
			var ons = 3;
			var onl;
			//var mask = mui.createMask(callback);//callback为用户点击蒙版时自动执行的回调；
			mui("#card ").on("tap", ".mui-media .mui-card .mui-icon", function() {
				//当前对象直接就是--->this
				var sq = this;
				var tt = this.className.length;
				if(tt > 32) {

				} else {
					if(ons > 0) {

						this.classList.add('active');
						ons = ons - 1;
						/*alert(this.className.length)
						this.classList.add('active');
						ons = ons-1;
						alert(this.className.length)*/
					} else {
						/*alert("123123")*/
						//mask.show();//显示遮罩

						mui.toast('已使用完每天三次的点赞功能', {
							duration: 'long',
							type: 'div'
						});toasts();

					}

				}

			});
		</script>
	</body>

</html>