{extend name="template/base" /}
{block name="content"}
<div class="page-container">
    <form class="mb-20" method="get" action="{:\\think\\Url::build($Request.action)}">
        <input type="text" class="input-text" style="width:250px" placeholder="订单编号" name="number" value="{$Request.param.number}" >
        <input type="text" class="input-text" style="width:250px" placeholder="用户id" name="user_id" value="{$Request.param.user_id}" >
        <input type="text" class="input-text" style="width:250px" placeholder="卖家用户id" name="set_user_id" value="{$Request.param.set_user_id}" >
        <button type="submit" class="btn btn-success"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
    </form>
    <div class="cl pd-5 bg-1 bk-gray">
        <span class="l">
            {tp:menu menu="add" /}
        </span>
        <span class="r pt-5 pr-5">
            共有数据 ：<strong>{$count ?? '0'}</strong> 条
        </span>
    </div>
    <table class="table table-border table-bordered table-hover table-bg mt-20">
        <thead>
        <tr class="text-c">
            <th width="25"><input type="checkbox"></th>
            <th width="">订单编号</th>
            <th width="">用户id</th>
            <th width="">卖家用户id</th>
            <th width="">商品id</th>
            <th width="">商品名称</th>
            <th width="">图片</th>
            <th width="">积分</th>
            <th width="">地址id</th>
            <th width="">状态</th>
            <th width="">创建时间</th>
            <th width="">完成时间</th>
            <th width="70">操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="vo"}
        <tr class="text-c">
            <td><input type="checkbox" name="id[]" value="{$vo.id}"></td>
            <td>{$vo.number|high_light=$Request.param.number}</td>
            <td onclick="layer_open('用户详情', '/admin/user/info/id/{$vo.user_id}.html')">{$vo.user_id|high_light=$Request.param.user_id}</td>
            <td onclick="layer_open('用户详情', '/admin/user/info/id/{$vo.set_user_id}.html')">{$vo.set_user_id|high_light=$Request.param.set_user_id}</td>
            <td onclick="layer_open('商品详情', '/admin/qunying/indexinfo/id/{$vo.user_id}.html')">{$vo.sp_id}</td>
            <td>{$vo.sp_name}</td>
            <td><img src="{$vo.img}" style="height: 120px;"></td>
            <td>{$vo.integral}</td>
            <td onclick="layer_open('用户详情', '/admin/user/ress/id/{$vo.ress}.html')">{$vo.ress}</td>
            <td style="color:red">{if condition="$vo.status eq 1"}代发货{elseif condition="$vo.status eq 2" /}已发货{else/}已完成{/if}</td>
            <td>{$vo.create_time|date="y-m-d h:i",###}</td>
            <td>{$vo.yes_time|date="y-m-d h:i",###}</td>
            <td class="f-14">
                {tp:menu menu='sedit' /}
                {tp:menu menu='sdeleteforever' /}
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div class="page-bootstrap">{$page ?? ''}</div>
</div>
{/block}

